@model SpotifyAPIClient.Models.RootobjectAlbum
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAlbums</title>
</head>
<body>
    <div class="form-horizontal">

        @foreach (var property in Model.artists)

        {

            <div class="form-group">

                @Html.Label(property.id)

                @Html.Editor(property.id)
                @Html.Label(property.name)

                @Html.Editor(property.name)

            </div>

        }

</body>
</html>
