
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetSpotifyData</title>
</head>
<body>
    <div style="background-color:darkgray"> 
        <table style="align-items:center">
            <tr>
                @Html.ActionLink("GetAlbum", "GetAlbums", "Home")
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                @Html.ActionLink("Getartist", "GetArtists", "Home")
            </tr>
        </table>
    </div>
</body>
</html>
